body {
  background-image: url(images/img.png);
  background-size: cover;
  margin: 0 10px;
  align-items: center;
}

form {
  width: 30%;
  margin-left: 2%;
}

legend {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid green;
  background-color: rgb(238, 113, 91);
  color: rgb(0, 54, 4);
  font-weight: bold;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  display: inline-block;
  clear: left;
  width: 170px;
  margin: 5px;
  text-align: left;
  font-weight: bold;
}

input[type="number"] {
  width: 150px;
  margin: 5px 0px;
  appearance: none;
}

input::-webkit-outer-spin-button, /*to set cursur as hand pointer*/
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title-text-container {
  width: 35%;
  margin-left: 5%;
  color: rgb(19, 19, 19);
  font-size: 25px;
  font-weight: bolder;
  text-shadow: -1px 1px 0 #00cb00, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
}

/* Responsive Style */
@media screen and (max-width: 768px) {
  .title-text-container {
    width: 80%;
    margin-left: 2%;
  }

  label,
  legend,
  .rate-conversion,
  .explanation-in-form,
  .title-text-container {
    font-size: small;
  }
}

.button {
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
}

.explanation-in-form {
  color: rgb(112, 6, 0);
  font-weight: bolder;
}

.rate-conversion {
  display: flex;
  justify-content: baseline;
}

.converted-ammount-text {
  font-weight: bold;
}

.converted-amount-value {
  color: rgb(112, 6, 0);
  font-weight: bold;
}

.add-currency-and-rate {
  align-items: last baseline;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-left: 2%;
}

th,
td {
  border: 1px solid #a90600;
  padding: 8px;
  text-align: left;
}

.market-message {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: medium;
  margin: 2px 0 2px 30px;
  padding: 0.7%;
}

.market-message-holder {
  display: block;
  width: 30%;
  margin-left: 2%;
}
