body {
  background-image: url(images/img.png);
  background-size: cover;
  /*-webkit-backdrop-filter: opacity(80);
      */
  margin: 0 10px;
  align-items: center;
}

/*.transbox {
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  width: fit-content;
}*/

form {
  width: 35%;
  margin-left: 2%;
  /*width: fit-content;*/
}

legend {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid green;
  background-color: rgb(238, 113, 91);
  color: rgb(0, 54, 4);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  display: inline-block;
  clear: left;
  width: 170px;
  margin: 5px;
  text-align: left;
  font-weight: bold;
}

input[type="number"] {
  width: 150px;
  margin: 5px 0px;
  appearance: none;
}

input::-webkit-outer-spin-button, /*to set cursur as hand pointer*/
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title-text-container {
  width: 35%;
  margin-left: 7%;
  color: rgb(19, 19, 19);
  font-size: 25px;
  font-weight: bolder;
  text-shadow: -1px 1px 0 #00cb00, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
}

.button {
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
}

.zero-rate + * {
  font-weight: bold;
  color: green;
}

.explanations-in-forms {
  color: rgb(112, 6, 0);
  font-weight: bolder;
}

.converted-ammount {
  font-weight: bold;
}

.rate-conversion {
  display: flex;
  justify-content: baseline;
}

.converted-amount-value {
  color: rgb(112, 6, 0);
  font-weight: bold;
}

.add-currency-and-rate {
  align-items: last baseline;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-left: 2%;
}

th,
td {
  border: 1px solid #a90600;
  padding: 8px;
  text-align: left;
}

.market-message {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
  margin: 2px 0 2px 40px;
  padding: 0.7%;
}

.market-message-holder {
  display: block;
  width: 35%;
  margin-left: 2%;
}
