body {
  background-image: url(images/img.png);
  background-size: cover;
  /*-webkit-backdrop-filter: opacity(50);
      /*Why non of them works?
      */
  margin: 0 10px;
  align-items: center;
}

form {
  width: 35%;
  margin-left: 5%;
  /*width: fit-content;*/
}

legend {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid green;
  background-color: rgb(238, 113, 91);
  color: rgb(0, 54, 4);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  display: inline-block;
  clear: left;
  width: 170px;
  margin: 5px;
  text-align: left;
  font-weight: bold;
}

input[type="number"] {
  width: 150px;
  margin: 5px 0px;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.texttitle {
  font-size: 20px;
  color: rgb(46, 0, 0);
  font-weight: bold;
  width: 50%;
  margin-left: 15%;
}

.button {
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
}

.zero-rate + * {
  font-weight: bold;
  color: green;
}

.explanations-in-forms {
  color: rgb(112, 6, 0);
  font-weight: bolder;
}

.convert-currency_button-section {
  align-items: last baseline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #a90600;
  padding: 8px;
  text-align: left;
}

/**/
